@font-face {
    font-family: "Ubuntu-C";
    src: url("../../../src/font/Ubuntu-C.ttf") format("truetype");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#header {
    height: 10vh;
    width: 100vw;
    background-color: #F5F5F6;
}

#main {
    height: 45vh;
    width: 100vw;
    background-color: #F5F5F6;
    display: flex;
    justify-content: center;
}

#nav {
    height: 45vh;
    width: 100vw;
    background-color: #F5F5F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #795548;
    font-size: 36px;
    text-transform: uppercase;
    font-family: "Ubuntu-C";
}

section {
    background-color: #795548;
    height: 8vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

input {
    margin: 10px;
    width: 50px;
    font-size: 40px;
}

/* Obsolète */

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#questionSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #795548;
}

#answerSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #E1E2E1;
}

#answerButton {
    background-color: #E1E2E1;
}

#answerBad {
    background-color: #E1E2E1;
}

#answerGood {
    background-color: #F5F5F6;
}

p {
    margin: 0;
    /* width: 100%; */
    /* height: 100%; */
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Ubuntu-C";
    font-size: 1.5em;
    text-align: center;
    color: #F5F5F6;
}

#title {
    font-size: 4em;
}

@media screen and (max-width: 640px) {
    body {
        /* background-color: black; */
    }
}