body{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 0;
}

main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

#inputValue{
    width: 40px;
}

button{
    margin: 3px;
}