@font-face {
    font-family: "Ubuntu-C";
    src: url("../../../src/font/Ubuntu-C.ttf") format("truetype");
}

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    --main-dice-size: 30px;
}

#main, #nav {
    width: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card-framework {
    width: 59mm;
    height: 91mm;
}

#card {
    width: 51mm;
    height: 83mm;
    border: 5px solid black;
    border-radius: 25px;
    padding: 10px;
}

.dice {
    width: var(--main-dice-size);
    height: var(--main-dice-size);
    background-color: cadetblue;
    border-radius: 90px;
    padding: 5px;
}

.dice:hover {
    background-color: rgb(112, 181, 184);
}

#nav section {
    align-items: center;
    display: flex;
}

input, p {
    margin: 10px;
}

h1, h2, p {
    font-family: "Ubuntu-C";
}

h1, h2 {
    margin: 0;
}

.validate {
    background-color: cadetblue;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}